<mat-card class="cardFlex">
  <div class="filmImage">
    <img mat-card-image [src]="film.poster_path" alt="{{film.original_title}}">
  </div>
  <div class="cardContent">
    <mat-card-header class="cardHeader">
      <mat-card-title>{{film.title}}</mat-card-title>
      <mat-card-subtitle>{{film.release_date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content  class="cardContent">
      <p>{{film.overview}}</p>
    </mat-card-content>
  </div>
  <div class="cardFooter">
    <mat-card-actions  class="cardAction">
      <button mat-raised-button color="primary">LIKE</button>
      <button mat-icon-button color="warn" (click)="uncheckFavorite($event)" *ngIf="isFavorite else noFavorite">
        <mat-icon aria-label="add to favorite">favorite</mat-icon>
      </button>
      <ng-template #noFavorite>
        <button mat-icon-button color="primary" (click)="checkFavorite($event)">
          <mat-icon aria-label="add to favorite">favorite</mat-icon>
        </button>
      </ng-template>
    </mat-card-actions>
  </div>
</mat-card>
