<div class="wrapper">
  <header class="mainHead">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>{{title}}</span>
        <span class="fill-remaining-space"></span>
        <a mat-button *ngFor="let link of links" [routerLink]="link.path" [routerLinkActive]="link.active" >
          <mat-icon class="example-icon">{{link.icon}}</mat-icon>{{link.label}}
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer class="mainFooter">
    <div>Log</div>
    <div class="fill-remaining-space">Version 1.0</div>
    <div>Powered by unt1tled ©2019.</div>
  </footer>
</div>
